// Params
params.data
params.output

// Runners
docker.enabled = true

// Profiles
profiles  {
  standard {
    process.executor = 'local'
  }

  k8s {
    process.executor = 'k8s'
  }
}

// Kuberetes
k8s.pod = [
  [volumeClaim: "pvc-input", mountPath: "/input/data"], 
  [volumeClaim: "pvc-work", mountPath: "/work/nextflow"],
  [volumeClaim: "pvc-output", mountPath: "/output/results"],
]

k8s {
  namespace = "nextflow"
  context = "sorsola"
  serviceAccount = "nextflow-sa"
  debug.yaml = true
}
